<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <title>GlucoCheck About</title>

  <!-- CSS Stylesheets -->
  
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  <link href="/css/about.css" rel="stylesheet" type="text/css" />

  <!--Font family for title/heading-->
  <link 
  href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" 
  rel="stylesheet"
  /> 
</head>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <h1><span style="font-size:2.1vw; color: rgb(7, 170, 219); ">GlucoCheck</span></h1>
    </a>
    

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    
  </div>

  <div id="navbarBasicExample" class="navbar-end" style="font-weight: 400; font-size: large; padding-right: 3%;">
    <div class="navbar-start">
     
    

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= __('choose_language') %>
        </a>

        <div class="navbar-dropdown">



          <a href="setLocale/en" class="navbar-item"><%= __('english') %></a>
          <a href="setLocale/es" class="navbar-item"><%= __('spanish') %></a>
          
          
          
        </div>
      </div>

      <a href="/about" class="navbar-item">
        <%= __('aboutUs') %>
      </a>


      <a href="/faq" class="navbar-item">
        FAQ
      </a>

    </div>
  </div>

</nav>

















<body>
  <br><br>
  
  <center>
    
  <div class ="box" style="box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);">

    
      <br>
      <br>
      <h1><span style="font-size:3vw;"><%= __('about') %></span></h1>
      <br>

      <p style="font-size:1vw; ">
        <%= __('aboutBodyp1') %>
        <br>
        <br>
        <%= __('aboutBodyp2') %>

      </p>
  
      <br><br><br>
  
  
      <h1><span style="font-size:1.6vw;"><%= __('contact') %></span></h1>


      <a href="mailto:GlucoHelp@outlook.com">GlucoHelp@outlook.com</a>
      <br>
      <br>
      <a href="/">
        <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
      </a>

      
  </div>
  


  <br>
  <br>
  <br>
  <br>

  <img style="padding: 15px 5px 10px 20px; position: sticky; left: -10px; bottom: 0;" src="/images/BloodDrop.png" width = "100" height = "40" alt = "Blood Drop Logo"/>

  

            
        
</body>


</html>