<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
  <title>GlucoCheck FAQ</title>

  <!-- CSS Stylesheets and Fonts-->
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
  <link href="/css/faq.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet"/>

  
</head>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <h1><span style="font-size:2.1vw; color: rgb(7, 170, 219); ">GlucoCheck</span></h1>
    </a>
    

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    
  </div>

  <div id="navbarBasicExample" class="navbar-end" style="font-weight: 400; font-size: large; padding-right: 3%;">
    <div class="navbar-start">
     
    

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= __('choose_language') %>
        </a>

        <div class="navbar-dropdown">



          <a href="setLocale/en" class="navbar-item"><%= __('english') %></a>
          <a href="setLocale/es" class="navbar-item"><%= __('spanish') %></a>
          
          
          
        </div>
      </div>

      <a href="/about" class="navbar-item">
        <%= __('aboutUs') %>
      </a>


      <a href="/faq" class="navbar-item">
        FAQ
      </a>

    </div>
  </div>

</nav>




<body>
  <center>
    <br><br><br>
  <div class ="box" style="box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);">

    <br>
    <br>
    <h1><span style="font-size:2.5vw;"><%= __('FAQp1') %></span></h1>

    <br>
    
    <h2><span style="font-size:1.5vw;"><%= __('FAQp2') %></span></h2>


    <h3><span style="font-size:1.5vw;"><%= __('FAQp3') %></span></h3><br>

<p style="font-size:1vw;white-space: pre-wrap;">
<%= __('FAQp4') %>
</p>

<h2><span style="font-size:1.5vw;"><%= __('FAQp5') %></span></h2>

<h3><span style="font-size:1.5vw;"><%= __('FAQp6') %></span></h3><br>

<p style="font-size:1vw;white-space: pre-wrap;">
<%= __('FAQp7') %>
</p>

<h2><span style="font-size:1.5vw;"><%= __('FAQp8') %></span></h2>

<h3><span style="font-size:1.5vw;"><%= __('FAQp9') %></span></h3><br>

<p style="font-size:1vw;white-space: pre-wrap;">
<%= __('FAQp10') %>
</p>

<h2><span style="font-size:1.5vw;"><%= __('FAQp11') %></span></h2>

<h3><span style="font-size:1.5vw;"><%= __('FAQp12') %></span></h3><br>

<p style="font-size:1vw;white-space: pre-wrap;">
<%= __('FAQp13') %>
</p>

<h2><span style="font-size:1.5vw;"><%= __('FAQp14') %></span></h2>

<h3><span style="font-size:1.5vw;"><%= __('FAQp15') %></span></h3><br>




<p style="font-size:1vw;white-space: pre-wrap;">
<%= __('FAQp16') %>
</p>
<br><br><br>
<h1><span style="font-size:7vw;"><%= __('contact') %></span></h1>
        <a href="mailto:GlucoHelp@outlook.com">GlucoHelp@outlook.com</a> 


    
</body>

<br>
<br>

<a href="/">
    <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
</a>



</div>



<br>
<br>
<br>
<br>

<img style="padding: 15px 5px 10px 20px; position: sticky; left: -10px; bottom: 0;" src="/images/BloodDrop.png" width = "100" height = "40" alt = "Blood Drop Logo"/>




</html>