<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSS Stylesheet -->
    <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
    <link href="/css/home.css" rel="stylesheet" type="text/css" />

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  </head>



  <div class="navbar1">
    
    <div class="dropdown1">
      
      <button class="dropbtn1" ><%= __('choose_language') %> </button>
      
      <div class="dropdown-content1">
        <a href="setLocale/en" class="dropdown-item"><%= __('english') %></a>
        <a href="setLocale/es" class="dropdown-item"><%= __('spanish') %></a>
      </div>

    </div>
  </div>



  <body>
    <center>
  
  
      <br>
      <br>
      <br>
      
      

      <div class="imgbox">
        <img class="center-fit" src='/images/NewBloodDrop.png'>
      </div>

      <br>
      <br>
  
  
      <div class="container" style="position:fixed;left:80px;top:350px;right:80px;"></div>
      <div class="content is-max-desktop">
      
      <a href="/register">
        <button class="button is-info is-rounded" style="height:40px;width:105px;"><%= __('signup') %></button>
      </a>
    
      <a href="/login">
        <button class="button is-info is-rounded" style="height:40px;width:105px;"><%= __('login') %></button> 
      </a>

      <br>
      <br>


      <a href="/about">
        <button class="button is-info is-light is-rounded" style="height:27px;width:80px;">About</button>
      </a>

      <a href="/faq">
        <button class="button is-info is-light  is-rounded" style="height:27px;width:80px;">FAQ</button>
      </a>
  
  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      

  
      <div id="container">
        <div id="footer">Not Copyrighted © 2021. </div>
      </div>
  

      
  </body>


















</html>
