<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>GlucoCheck Login</title>

    <!-- CSS Stylesheets -->
    <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css" />
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    

    <!-- Scripts -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="scripts/formchecks.js"></script>
    <script src="scripts/errortranslations.js"></script>
    <script> translatelogin('<%- locals.error %>'); </script>

    <!--Font family for title/heading-->
    <link 
    href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" 
    rel="stylesheet"
    />

  </head>

  
  
  <div class="navbar1">
    
    <div class="dropdown1">
      
      <button class="dropbtn1" ><%= __('choose_language') %> </button>
    
      <div class="dropdown-content1">
        <a href="setLocale/en" class="dropdown-item"><%= __('english') %></a>
        <a href="setLocale/es" class="dropdown-item"><%= __('spanish') %></a>
      </div>

    </div>
  </div>







  <body>
    <center>


      <br>
      <br>
      <br>
      <br>


      <div class="imgbox">
        <h4><span style="font-size:7vw;">Be well, know your BGL!</span></h4>
        <img class="center-fit" src='/images/BloodDrop.png' alt="Blood Drop Logo">
        <h1><span style="font-size:5vw;">GlucoCheck</span></h1>

      </div>

      <br>
      <br>

      <div class="container" style="position:fixed;left:80px;top:350px;right:80px;"></div>
      <div class="content is-max-desktop">

      <div class="container" style="width: 24%;">
        <form action="/login" method="POST" onsubmit="login()">
          <p class="control has-icons-left">
            <input class="input" type="text" name="username" id="username" placeholder="<%= __('username') %>" />
            <span class="icon is-left">
              <iconify-icon data-icon="mdi:rename-box"></iconify-icon>
            </span>
          </p>
          

          <p class="control has-icons-left">
            <input class="input" type="password" name="password" id="password" placeholder="<%= __('password') %>" />
            <span class="icon is-left">
              <iconify-icon data-icon="mdi:key-variant"></iconify-icon>
            </span>
          </p>

          <p id="error" style="color:red;"><%- locals.error %></p>

          <button class="button is-info is-rounded"><%= __('login') %></button>
        
        </form>
        </div>
      </div>
    
      <a href="/register">
        <button class="button" style="height:30px;width:70px;"><%= __('signup') %></button>
      </a>

      <a href="/">
        <button class="button" style="height:30px;width:70px;"><%= __('back') %></button>
      </a>



      <br>
      <br>

      <div id="container">
        <div id="footer">Not Copyrighted © 2021. </div>
      </div>
    </center>
    
  </body>


</html>